{% extends 'blog/base.html' %}

{% block title %} {{ post_obj.blog_title }} {% endblock %}

{% block content %}
    <h1> {{ post_obj.blog_title }} </h1>
    <p class="date">
        published {{ post_obj.date_published }} by {{ post_obj.author }}
    </p>
    {{ post_obj.body|linebreaks }}
    <p>
        <a href="{% url 'blog:post_share' post.id %}">
            share
        </a>
    </p>
    {% with comments.count as total_comments %}
        <h2>
            {{ total_comments }} comment{{ total_comments|pluralize }}
        </h2>
    {% endwith %}
{% endblock %}
